[submodule "system/vendor/active_files"]
	path = system/vendor/active_files
	url = git://github.com/crnixon/active_files.git
[submodule "system/vendor/ramaze"]
	path = system/vendor/ramaze
  url = git://github.com/crnixon/ramaze.git
