/* http://www.colourlovers.com/palette/379413/you_are_beautiful */

html, body {
  background-color: white;
  margin: 0;
  color: #424254;
  font-size: 100%;
}

#header {
  background-color: #E8CAA4;
  width: 100%;
  height: 110px;
  margin-bottom: 40px;
}

#header h1 {
  text-indent: -9000px;
  background: url(/images/admin.png) no-repeat;
  height: 100px;
  width: 700px;
  margin: 0 auto;
}

#header #nav {
  color: white;
  background-color: #CC2A41;
  height: 30px;
}

#header #nav ul {
  width: 700px;
  margin: 0 auto;
  padding-top: 7px;
  padding-left: 0;
}

#nav li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

#nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#nav li a:hover {
  color: #E8CAA4;
}

#main {
  width: 700px;
  margin: 0 auto;
}

#main h2 {
  border-bottom: 1px solid #424254;
}

form div {
  clear: left;
}

form label {
  float: left;
  width: 120px;
  font-weight: bold;
}

input, textarea {
  width: 300px;
  margin-bottom: 10px;
  background-color: #E8CAA4;
  font-size: 110%;
}

textarea {
  width: 400px;
  height: 200px;
  font-family: monospace;
}

form input[type=submit] {
  margin-left: 120px;
  margin-top: 5px;
}

th, td {
  padding: 1px 12px 1px 0;
}
