<h2>New <%= @mold %></h2>

<%= form :action => R(BlockListController), :method => 'POST' do
      input :type => 'hidden', :name => "block[type]", :value => @mold.name 
      @mold.fields.each do |field, type|
        div do
          label field.to_s.capitalize, :for => "block[#{field}]"
          form_field type, :name => "block[#{field}]"
        end
      end
      input :type => 'submit', :value => 'Create block'
    end %>
